<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Home</title>
</head>
<body>
    {{!-- <h1>Navigation</h1> --}}
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#" id="btnLogout" >CONTACT</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/auth/logout" >LOGOUT</a></li>
        </ul>
    </nav>
    <h1>Profile Page</h1>
    <h3>
        welcome: 
        {{user.name}}
    </h3>

    <h3>your game library:</h3>
    {{!-- {{#each games}}
    <p>{{this}}</p>
    {{/each}} --}}

    <div id="profileStuff">
        <div id="profileGames">
        {{#each games}}
        <p class="game-item">{{this}}</p>
        {{/each}}
    </div>
    <div id="profileButtons">
        <button id="removeBtn">remove</button>
         <button id="playBtn">play</button>
    </div>
    </div>

    <h3>Time Played:</h3>
    <p id="timeDisplay">...</p>
    <div id="timePlayedStuff"> 
        <p id="timePlayedStuffDisplay1"></p>
        <p id="timePlayedStuffDisplay2"></p>
        <p id="timePlayedStuffDisplay3"></p>
        <p id="timePlayedStuffDisplay4"></p>
    </div>

{{!-- <div id="timePlayedStuff"> 
    <p id="timePlayedStuffDisplay1">{{gameTimes.[0]}}</p>
    <p id="timePlayedStuffDisplay2">{{gameTimes.[1]}}</p>
    <p id="timePlayedStuffDisplay3">{{gameTimes.[2]}}</p>
    <p id="timePlayedStuffDisplay4">{{gameTimes.[3]}}</p>
</div> --}}

    
    <div id="confirmationMessageRemove"></div>
    <script src="/gamesDisplay.js"></script>
</body>
</html>